# Go build artifacts
server/server       # Компилируемый исполняемый файл для Linux/macOS
server/*.exe        # Компилируемый исполняемый файл для Windows
server/*.test       # Тестовые исполняемые файлы
server/*.out        # Выходные файлы тестов
*.o                 # Объектные файлы

# Go module cache
.go/
go.sum

# IDE files (GoLand/IntelliJ, VS Code)
.idea/
.vscode/

# Environment variables
.env

# Logs
*.log